################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoreTest/bin/Debug/net6.0/CoverletSourceRootsMapping
/StoreTest/obj/Debug/net6.0/StoreTest.AssemblyInfo.cs
/StoreTest/obj/Debug/net6.0/StoreTest.AssemblyInfoInputs.cache
/StoreTest/obj/Debug/net6.0/StoreTest.assets.cache
/StoreTest/obj/Debug/net6.0/StoreTest.csproj.AssemblyReference.cache
/StoreTest/obj/Debug/net6.0/StoreTest.GeneratedMSBuildEditorConfig.editorconfig
/.vs/GithubRepositories/v17
/.vs/ProjectEvaluation/storeapi.metadata.v5.2
/.vs/ProjectEvaluation/storeapi.projects.v5.2
/.vs/StoreApi/DesignTimeBuild/.dtbcache.v2
/.vs/StoreApi/v17/.suo
/.vs/StoreApi/v17/DocumentLayout.json
/.vs/StoreApi/FileContentIndex/2314b708-d1ca-4776-9f43-a038c2797626.vsidx
/.vs/StoreApi/FileContentIndex/abf3b6a8-5039-462e-b885-03ed0bfaf457.vsidx
/Store.Api/obj/Debug/net6.0/Store.Api.AssemblyInfo.cs
/Store.Api/obj/Debug/net6.0/Store.Api.AssemblyInfoInputs.cache
/Store.Api/obj/Debug/net6.0/Store.Api.assets.cache
/Store.Api/obj/Debug/net6.0/Store.Api.csproj.AssemblyReference.cache
/Store.Api/obj/Debug/net6.0/Store.Api.GeneratedMSBuildEditorConfig.editorconfig
/Store.Api/obj/project.assets.json
/Store.Api/obj/project.nuget.cache
/Store.Api/obj/Store.Api.csproj.nuget.dgspec.json
/Store.Api/obj/Store.Api.csproj.nuget.g.props
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.AssemblyInfo.cs
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.AssemblyInfoInputs.cache
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.assets.cache
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.csproj.AssemblyReference.cache
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.GeneratedMSBuildEditorConfig.editorconfig
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.RazorAssemblyInfo.cache
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.RazorAssemblyInfo.cs
/Store.Api.UI/obj/project.assets.json
/Store.Api.UI/obj/project.nuget.cache
/Store.Api.UI/obj/Store.Api.UI.csproj.nuget.dgspec.json
/Store.Api.UI/obj/Store.Api.UI.csproj.nuget.g.props
/Store.Core/obj/Debug/net6.0/Store.Core.AssemblyInfo.cs
/Store.Core/obj/Debug/net6.0/Store.Core.AssemblyInfoInputs.cache
/Store.Core/obj/Debug/net6.0/Store.Core.assets.cache
/Store.Core/obj/Debug/net6.0/Store.Core.csproj.AssemblyReference.cache
/Store.Core/obj/Debug/net6.0/Store.Core.csproj.CoreCompileInputs.cache
/Store.Core/obj/Debug/net6.0/Store.Core.GeneratedMSBuildEditorConfig.editorconfig
/Store.Core/obj/Debug/net6.0/Store.Core.sourcelink.json
/Store.Core/obj/project.assets.json
/Store.Core/obj/project.nuget.cache
/Store.Core/obj/Store.Core.csproj.nuget.dgspec.json
/Store.Core/obj/Store.Core.csproj.nuget.g.props
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.AssemblyInfo.cs
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.AssemblyInfoInputs.cache
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.assets.cache
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.csproj.AssemblyReference.cache
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Store.Infrastructure/obj/project.assets.json
/Store.Infrastructure/obj/project.nuget.cache
/Store.Infrastructure/obj/Store.Infrastructure.csproj.nuget.dgspec.json
/Store.Infrastructure/obj/Store.Infrastructure.csproj.nuget.g.props
/StoreTest/bin/Debug/net6.0/appsettings.json
/StoreTest/bin/Debug/net6.0/Store.Api.dll
/StoreTest/bin/Debug/net6.0/Store.Api.exe
/StoreTest/bin/Debug/net6.0/Store.Api.pdb
/StoreTest/bin/Debug/net6.0/Store.Core.dll
/StoreTest/bin/Debug/net6.0/Store.Core.pdb
/StoreTest/bin/Debug/net6.0/Store.Infrastructure.dll
/StoreTest/bin/Debug/net6.0/Store.Infrastructure.pdb
/StoreTest/bin/Debug/net6.0/StoreTest.dll
/StoreTest/bin/Debug/net6.0/StoreTest.pdb
/StoreTest/obj/Debug/net6.0/ref/StoreTest.dll
/StoreTest/obj/Debug/net6.0/refint/StoreTest.dll
/StoreTest/obj/Debug/net6.0/StoreTest.csproj.CoreCompileInputs.cache
/StoreTest/obj/Debug/net6.0/StoreTest.csproj.FileListAbsolute.txt
/StoreTest/obj/Debug/net6.0/StoreTest.csproj.Up2Date
/StoreTest/obj/Debug/net6.0/StoreTest.dll
/StoreTest/obj/Debug/net6.0/StoreTest.genruntimeconfig.cache
/StoreTest/obj/Debug/net6.0/StoreTest.pdb
/StoreTest/obj/Debug/net6.0/StoreTest.sourcelink.json
/StoreTest/obj/project.assets.json
/StoreTest/obj/project.nuget.cache
/StoreTest/obj/StoreTest.csproj.nuget.dgspec.json
/StoreTest/obj/StoreTest.csproj.nuget.g.props
/Store.Infrastructure/bin/Debug/net6.0/Store.Core.dll
/Store.Infrastructure/bin/Debug/net6.0/Store.Core.pdb
/Store.Infrastructure/bin/Debug/net6.0/Store.Infrastructure.dll
/Store.Infrastructure/bin/Debug/net6.0/Store.Infrastructure.pdb
/Store.Infrastructure/obj/Debug/net6.0/ref/Store.Infrastructure.dll
/Store.Infrastructure/obj/Debug/net6.0/refint/Store.Infrastructure.dll
/Store.Infrastructure/obj/Debug/net6.0/Store.In.0CBF2D60.Up2Date
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.csproj.CoreCompileInputs.cache
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.csproj.FileListAbsolute.txt
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.dll
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.genruntimeconfig.cache
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.pdb
/Store.Infrastructure/obj/Debug/net6.0/Store.Infrastructure.sourcelink.json
/Store.Core/bin/Debug/net6.0/Store.Core.dll
/Store.Core/bin/Debug/net6.0/Store.Core.pdb
/Store.Core/obj/Debug/net6.0/ref/Store.Core.dll
/Store.Core/obj/Debug/net6.0/refint/Store.Core.dll
/Store.Core/obj/Debug/net6.0/Store.Core.csproj.FileListAbsolute.txt
/Store.Core/obj/Debug/net6.0/Store.Core.dll
/Store.Core/obj/Debug/net6.0/Store.Core.pdb
/Store.Api.UI/bin/Debug/net6.0/Store.Api.UI.dll
/Store.Api.UI/bin/Debug/net6.0/Store.Api.UI.exe
/Store.Api.UI/bin/Debug/net6.0/Store.Api.UI.pdb
/Store.Api.UI/bin/Debug/net6.0/Store.Api.UI.staticwebassets.runtime.json
/Store.Api.UI/bin/Debug/net6.0/Store.Core.dll
/Store.Api.UI/bin/Debug/net6.0/Store.Core.pdb
/Store.Api.UI/obj/Debug/net6.0/ref/Store.Api.UI.dll
/Store.Api.UI/obj/Debug/net6.0/refint/Store.Api.UI.dll
/Store.Api.UI/obj/Debug/net6.0/apphost.exe
/Store.Api.UI/obj/Debug/net6.0/staticwebassets.build.json
/Store.Api.UI/obj/Debug/net6.0/staticwebassets.development.json
/Store.Api.UI/obj/Debug/net6.0/staticwebassets.pack.json
/Store.Api.UI/obj/Debug/net6.0/Store.Ap.4B47E9D6.Up2Date
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.csproj.CoreCompileInputs.cache
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.csproj.FileListAbsolute.txt
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.dll
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.genruntimeconfig.cache
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.MvcApplicationPartsAssemblyInfo.cs
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.pdb
/Store.Api.UI/obj/Debug/net6.0/Store.Api.UI.sourcelink.json
/Store.Api/appsettings.json
/Store.Api/bin/Debug/net6.0/appsettings.json
/Store.Api/bin/Debug/net6.0/Store.Api.dll
/Store.Api/bin/Debug/net6.0/Store.Api.exe
/Store.Api/bin/Debug/net6.0/Store.Api.pdb
/Store.Api/bin/Debug/net6.0/Store.Core.dll
/Store.Api/bin/Debug/net6.0/Store.Core.pdb
/Store.Api/bin/Debug/net6.0/Store.Infrastructure.dll
/Store.Api/bin/Debug/net6.0/Store.Infrastructure.pdb
/Store.Api/obj/Debug/net6.0/apphost.exe
/Store.Api/obj/Debug/net6.0/ref/Store.Api.dll
/Store.Api/obj/Debug/net6.0/refint/Store.Api.dll
/Store.Api/obj/Debug/net6.0/Store.Api.csproj.CoreCompileInputs.cache
/Store.Api/obj/Debug/net6.0/Store.Api.csproj.FileListAbsolute.txt
/Store.Api/obj/Debug/net6.0/Store.Api.csproj.Up2Date
/Store.Api/obj/Debug/net6.0/Store.Api.dll
/Store.Api/obj/Debug/net6.0/Store.Api.genruntimeconfig.cache
/Store.Api/obj/Debug/net6.0/Store.Api.MvcApplicationPartsAssemblyInfo.cs
/Store.Api/obj/Debug/net6.0/Store.Api.pdb
/Store.Api/obj/Debug/net6.0/Store.Api.sourcelink.json
/.vs/StoreApi/FileContentIndex
